#jueces, #listaCarteles{
    padding:10px;
    font-size:18px;
    display: block;
    margin: auto;
}

#listaCarteles{
    max-width: 100%;
}

#jueces{
    width:50%;
    text-align: center;
}

.indicacionesNuevaEvaluacion{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.labelTitulo{
    font-size: 20px;
    margin-top: 10px;
    color: #ff5900;
    font-weight: bold;
}

.infoCartel{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

.linkCartel{
    color: #ff5900;
    text-decoration: none;
}

.botonSiguiente{
    background-color: #ff5900;
    color:white;
    border-color: #EDF1F5;
    padding: 10px;
    font-size: 20px;
    display: block;
    margin: auto;
}

.botonSiguiente:hover{
    background-color: white;
    color:#ff5900;
    border-color: #ff5900;
}

.btnAdd{
    padding: 5px;
    color: white;
    background-color: green;
    font-size: 1.2em;
    border-radius: 5px;
}

@media screen and (max-width:1000px) {
    #jueces{
        width:90%;
    }
}